/* Header ______________________________________________________________________________________*/
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 960px;
}
.topheader {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: white;
}

.bg-menu {
  margin-top: 90px;
}

@media only screen and (max-width: 560px) {
  .menu {
    justify-content: center;
  }
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  margin: 10px;
}
nav ul li a {
  color: black;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a:hover {
  font-weight: bolder;
}

.logo img {
  height: 76px;
  margin-top: 5px;
  transition: all 1s;
}

.logo img:hover {
  transition: all 1s;
  /*transform: translate3d(25px, 0, 0);*/
  height: 86px;
}

.line-color {
  height: 5px;
  display: flex;
  justify-content: space-evenly;
}

.color1 {
  content: "";
  background-color: #ffe300;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color1:hover {
  background-color: #fff18a;
  transition: all 0.3s;
}

.color2 {
  content: "";
  background-color: #dbb22c;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color2:hover {
  background-color: #d8ca9b;
  transition: all 0.3s;
}

.color3 {
  content: "";
  background-color: #000000;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color3:hover {
  background-color: #636363;
  transition: all 0.3s;
}

/* Slide__________________________________________________________________________________________*/
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 600ms;
  z-index: 1;
}
.js [data-slide-nav] {
  text-align: center;
  margin-top: 20px;
}

.js button {
  border-radius: 6px;
  margin: 2px;
  height: 12px;
  width: 12px;
  border: none;
  background-color: #cecece;
  display: inline-block;
  text-indent: -150px;
  color: white;
  overflow: hidden;
}

.js button.active {
  background-color: #ffe300;
}

.img-bg {
  display: block;
  max-width: 100%;
}
/* Qualidade____________________________________________________________________________________*/
.qualidade {
  margin-top: 50px;
  background-image: linear-gradient(to bottom, white, #e7e7e7, white);
}
.qualidade h1 {
  font-size: 28px;
  font-family: LuengoW00-Light;
  text-align: center;
  letter-spacing: 3px;
}

.qualidade h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.qualidade h1:hover::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
}

.qualidade p {
  font-size: 18px;
  font-family: LuengoW00-Light;
  text-align: center;
  padding: 30px 10px;
  letter-spacing: 1px;
  line-height: 25px;
  word-spacing: 1px;
}
.qualidadep {
  margin: 25px auto;
  max-width: 960px;
  min-height: 150px;
  background-color: white;
  border-radius: 10px;
  border: white solid 2px;
  transition: border 2s;
}
.qualidadep:hover {
  border: #ffe300 solid 2px;
  transition: all 0.8s;
}

.cliente {
  max-width: 960px;
  margin: 0 auto;
}

.cliente span {
  font-family: luengoW00-light;
  padding-left: 10px;
  color: #636363;
  transition: all 0.5s;
}

.cliente span:hover {
  font-family: luengoW00-light;
  padding-left: 20px;
  color: #000000;
  transition: all 0.5s;
}

.cliente p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.3px;
  font-weight: bolder;
  padding: 0 10px;
  text-align: left;
}

.msg p {
  font-size: 16px;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  max-width: 350px;
  font-weight: normal;
  border: 2px solid #c5c5c5;
  transition: all 2s;
}

.msg p:hover {
  border: #b300b3 2px solid;
  transition: all 0.4s;
}

.msg2 p {
  max-width: 300px;
}
.msg3 p {
  max-width: 250px;
}
.EMS p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: left;
  background-color: #c9c9c9;
  border-radius: 15px;
  margin: 10px;
  max-width: 350px;
  font-weight: normal;
  border: 2px solid #c9c9c9;
  transition: all 2s;
}
.EMS p:hover {
  border: #b300b3 2px solid;
  transition: all 0.4s;
}

.EMS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  max-width: 960px;
  margin: 0 auto;
}
.EMS span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.3px;
  font-weight: bolder;
  padding: 0 10px;
  text-align: left;
}

.container-beneficios {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.beneficiostop {
  margin: 25px;
  max-width: 800px;
  background-color: white;
  border-radius: 30px;
  border: white solid 2px;
  transition: all 2s;
  align-self: center;
}
.beneficiostop:hover {
  border: #ffeb37 solid 2px;
  transition: all 0.8s;
}

.beneficiostop p {
  padding: 10px;
}

.beneficiostop h1 {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0 5px;
}

.beneficiostop h1::after {
  content: "";
  background-color: #ffffff;
}

.beneficios {
  margin: 25px;
  max-width: 700px;
  background-color: white;
  border-radius: 30px;
  border: white solid 2px;
  transition: all 2s;
  align-self: flex-end;
}

.beneficios:hover {
  border: #dbb22c solid 2px;
  border-right-width: 20px;
  transition: all 0.8s;
}

.beneficios h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffeb37;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.beneficios2 {
  margin: 25px;
  max-width: 600px;
  background-color: white;
  border-radius: 30px;
  border: white solid 2px;
  transition: all 2s;
  align-self: flex-start;
}

.beneficios2:hover {
  border: #ffeb37 solid 2px;
  transition: all 0.8s;
  border-left-width: 20px;
}

.beneficios p {
  text-align: left;
  padding: 10px;
}

.beneficios2 p {
  text-align: left;
  padding: 10px;
}

/* Produtos____________________________________________________________________________________*/
.produtos {
  background-image: linear-gradient(white, rgb(236, 236, 236), white);
  width: 100%;
}
.produtos h1 {
  margin-top: 60px;
  font-size: 28px;
  font-family: LuengoW00-Light;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.produtos h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.produtos h1:hover::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 0.1s;
}

.container-produtos {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produto {
  max-width: 400px;
  background: linear-gradient(to top, #cecdcd, #ffffff);
  margin: 10px;
  border-radius: 20px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.produto img {
  height: 150px;
  width: 140px;
  padding: 20px 130px 26px;
  transition: all 1.3s;
}

.produto img:hover {
  height: 170px;
  width: 160px;
}

.produto-calendula {
  background-image: linear-gradient(to top, #dfdd08, #faf0a2);
}

.produto-morango {
  background-image: linear-gradient(to top, #de1729, #f4a1a2);
}

.produto-argila {
  background-image: linear-gradient(to top, #383837, #8e8a8a);
}

.produto-calendula img {
  height: 150px;
  width: 137px;
}

.produto-calendula img:hover {
  height: 170px;
  width: 157px;
}

.produto-morango img {
  width: 135px;
  height: 160px;
}

.produto-morango img:hover {
  width: 155px;
  height: 180px;
}

.produto-argila img {
  height: 165px;
  width: 140px;
}

.produto-argila img:hover {
  height: 185px;
  width: 160px;
}

.produto p {
  max-width: 350px;
  text-align: left;
  font-family: luengoW00-light;
  margin: 0 auto;
  padding: 10px;
  word-spacing: 2px;
}

.produto h2 {
  font-family: LuengoW00-light;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.produto-aveia:hover {
  background: linear-gradient(to bottom, #cecdcd, #ffffff);
}

.produto-calendula:hover {
  background-image: linear-gradient(to bottom, #dfdd08, #faf0a2);
}

.produto-morango:hover {
  background-image: linear-gradient(to bottom, #de1729, #f4a1a2);
}

.produto-argila:hover {
  background-image: linear-gradient(to bottom, #383837, #8e8a8a);
}

.saibm-calendula {
  color: black;
  background-color: transparent;
  padding: 5px 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.saibm-argila {
  color: black;
  background-color: transparent;
  padding: 5px 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.saibm-morango {
  color: black;
  background-color: transparent;
  padding: 5px 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.saibm-aveia {
  color: black;
  background-color: transparent;
  padding: 5px 5px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.saibm-calendula:hover {
  color: rgb(187, 153, 0);
  background-color: transparent;
  border: 2px solid rgb(187, 153, 0);
}

.saibm-aveia:hover {
  color: rgb(160, 160, 160);
  background-color: transparent;
  border: 2px solid rgb(168, 168, 168);
}

.saibm-morango:hover {
  color: rgb(255, 0, 0);
  background-color: transparent;
  border: 2px solid rgb(255, 0, 0);
}

.saibm-argila:hover {
  color: rgb(221, 221, 221);
  background-color: transparent;
  border: 2px solid rgb(221, 221, 221);
}

[data-target] {
  visibility: hidden;
  position: absolute;
  transform: translate3d(-20px, 0, 0);
  opacity: 0;
}

.active[data-target] {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0px, 0, 0);
  position: relative;
  transition: all 1s;
}

.container-produtos li {
  margin: 10px 0 58px;
}

.saibm-morango.active,
.saibm-argila.active {
  margin-top: 22px;
}

@media only screen and (max-width: 434px) {
  .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .produto p {
    max-width: 350px;
    width: auto;
    padding: 10px;
  }
  .produto img {
    padding: 40px 0 35px 0;
  }
}

/* Quem Somos____________________________________________________________________________________*/

.quemsomos {
  background-image: linear-gradient(white, rgb(236, 236, 236), white);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-valores {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quemsomos h1 {
  margin-top: 60px;
  font-size: 28px;
  font-family: LuengoW00-Light;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.quemsomos h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.quemsomos h1:hover::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 0.1s;
}

.valores {
  margin: 25px;
  max-width: 600px;
  background-color: white;
  border-radius: 30px;
  border: white solid 2px;
  transition: all 2s;
}

.valores:hover {
  border: #dbb22c solid 2px;
  transition: all 0.8s;
}

.v1:hover {
  border: #ffe300 solid 2px;
  transition: all 0.8s;
}

.v3:hover {
  border: #000000 solid 2px;
  transition: all 0.8s;
}

.valores p,
.valores h2 {
  font-size: 18px;
  font-family: LuengoW00-Light;
  text-align: center;
  padding: 0px 10px 10px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 25px;
  word-spacing: 2px;
}

.valores h2 {
  font-weight: bold;
  padding-top: 10px;
}

.v3 {
  max-width: 800px;
}
.v1 {
  max-width: 700px;
}

/* CONTATOS____________________________________________________________________________________*/

.bgi-footer {
  max-width: 100%;
  background: url(../img/img-bg-footer.jpg) center;
  background-size: cover;
  height: 220px;
  text-align: center;
}

.bgi-footer h1 {
  font-family: LuengoW00-Light;
  text-align: center;
  font-weight: bold;
  padding-left: 24px;
  color: white;
  padding-top: 35px;
  margin-top: 60px;
}

.bgi-footer h1::after {
  content: " ";
  height: 4px;
  width: 25px;
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  transition: all 1s;
}

.bgi-footer h1:hover:after {
  width: 35px;
  transition: all 80ms;
}

.bgi-footer p {
  max-width: 400px;
  font-size: 18px;
  font-family: LuengoW00-Light;
  margin: 10px auto;
  color: white;
  font-weight: normal;
}

.bg-footer {
  max-width: 100%;
}

.container-footer {
  display: flex;
  align-items: flex-start;
  max-width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.logoss {
  min-width: 150px;
}
.logos {
  height: 40px;
  width: 40px;
  margin: 10px 0px 10px 25px;
}
.logoss h1 {
  font-family: LuengoW00-Light;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
}

.logoss h1::after {
  content: " ";
  height: 4px;
  width: 25px;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: all 1s;
}

.logoss h1:hover::after {
  width: 35px;
  transition: all 80ms;
}

.direitos-reservados p {
  font-family: LuengoW00-Light;
  font-size: 15px;
  color: black;
  text-align: center;
  background-color: #d1d1d1;
}

.contato {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contato h1 {
  font-family: LuengoW00-Light;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

.contato p {
  font-family: LuengoW00-Light;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.contato h1::after {
  content: " ";
  height: 4px;
  width: 25px;
  background-color: #000000;
  display: block;
  border-radius: 5px;
  transition: all 1s;
}

.contato h1:hover::after {
  width: 35px;
  transition: all 80ms;
}

.missao {
  max-width: 500px;
  margin-left: 10px;
}

/* ANIMAÇÃO____________________________________________________________________________________*/

.anime {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: all 1s;
}

.anime-init {
  opacity: 1;
  transition: all 1s;
  transform: translate3d(0px, 0, 0);
}

.anime-i {
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  transition: all 1s;
}

.anime-i-init {
  opacity: 1;
  transition: all 1s;
  transform: translate3d(0px, 0, 0);
}
