/* Header ______________________________________________________________________________________*/
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 960px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav ul li {
  margin: 10px;
}
nav ul li a {
  color: black;
  font-family: LuengoW00-Light;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a:hover {
  font-weight: bolder;
}

.logo img {
  height: 76px;
  margin-top: 10px;
}
.line-color {
  height: 5px;
  display: flex;
  justify-content: space-evenly;
}

.color1 {
  content: "";
  background-color: #ffe300;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color1:hover {
  background-color: #fff18a;
  transition: all 0.3s;
}

.color2 {
  content: "";
  background-color: #dbb22c;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color2:hover {
  background-color: #d8ca9b;
  transition: all 0.3s;
}

.color3 {
  content: "";
  background-color: #000000;
  width: 40%;
  height: 5px;
  transition: all 0.9s;
}

.color3:hover {
  background-color: #636363;
  transition: all 0.3s;
}

/* Slide__________________________________________________________________________________________*/
[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 600ms;
  z-index: 1;
}
.js [data-slide-nav] {
  text-align: center;
  margin-top: 20px;
}

.js button {
  border-radius: 6px;
  margin: 2px;
  height: 12px;
  width: 12px;
  border: none;
  background-color: #cecece;
  display: inline-block;
  text-indent: -150px;
  color: white;
  overflow: hidden;
}

.js button.active {
  background-color: #ffe300;
}

.img-bg {
  display: block;
  max-width: 100%;
}
/* Qualidade____________________________________________________________________________________*/
.qualidade {
  margin-top: 50px;
  background-image: linear-gradient(to bottom, white, #f5f5f5, white);
}
.qualidade h1 {
  font-size: 28px;
  font-family: LuengoW00-Light;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
}

.qualidade h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.qualidade h1:hover::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
}

.qualidade p {
  font-size: 18px;
  font-family: LuengoW00-Light;
  text-align: center;
  padding: 30px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 30px;
}
.qualidadep {
  margin: 25px auto;
  max-width: 960px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  border: white solid 2px;
  transition: all 2s;
}
.qualidadep:hover {
  border: #ffe300 solid 2px;
  transition: all 0.8s;
}

.cliente {
  width: 960px;
  margin: 0 auto;
}

.cliente span {
  font-family: luengoW00-light;
  padding-left: 10px;
  color: #636363;
  transition: all 0.5s;
}

.cliente span:hover {
  font-family: luengoW00-light;
  padding-left: 20px;
  color: #000000;
  transition: all 0.5s;
}

.cliente p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.3px;
  font-weight: bolder;
  padding: 0 10px;
  text-align: left;
}

.msg p {
  font-size: 16px;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: left;
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  max-width: 350px;
  font-weight: normal;
  border: 2px solid #c5c5c5;
  transition: all 2s;
}

.msg p:hover {
  border: #b300b3 2px solid;
  transition: all 0.4s;
}

.msg2 p {
  max-width: 300px;
}
.msg3 p {
  max-width: 250px;
}
.EMS p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.5px;
  padding: 10px;
  text-align: left;
  background-color: #c9c9c9;
  border-radius: 15px;
  margin: 10px;
  max-width: 350px;
  font-weight: normal;
  border: 2px solid #c9c9c9;
  transition: all 2s;
}
.EMS p:hover {
  border: #b300b3 2px solid;
  transition: all 0.4s;
}

.EMS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  max-width: 960px;
  margin: 0 auto;
}
.EMS span {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0.3px;
  font-weight: bolder;
  padding: 0 10px;
  text-align: left;
}
/* Produtos____________________________________________________________________________________*/
.produtos {
  background-image: linear-gradient(white, rgb(236, 236, 236), white);
  width: 100%;
}
.produtos h1 {
  margin-top: 60px;
  font-size: 28px;
  font-family: LuengoW00-Light;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

.produtos h1::after {
  content: "";
  height: 5px;
  width: 50px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 1s;
  border-radius: 2px;
}

.produtos h1:hover::after {
  content: "";
  height: 5px;
  width: 90px;
  background-color: #ffe300;
  display: block;
  margin: 0 auto;
  transition: all 0.1s;
}

.container-produtos {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.produto {
  width: 400px;
  background: linear-gradient(to top, #cecdcd, #ffffff);
  margin: 10px;
}
.produto img {
  height: 150px;
  width: 140px;
  padding: 40px 130px 26px;
}

.produto-calendula {
  background-image: linear-gradient(to top, #dfdd08, #faf0a2);
}

.produto-morango {
  background-image: linear-gradient(to top, #de1729, #f4a1a2);
}

.produto-argila {
  background-image: linear-gradient(to top, #383837, #8e8a8a);
}

.produto-calendula img {
  height: 150px;
  width: 137px;
}

.produto-morango img {
  width: 135px;
  height: 160px;
}

.produto-argila img {
  height: 165px;
}

.produto p {
  width: 350px;
  text-align: center;
  font-family: luengoW00-light;
  margin: 0 auto;
}

.produto-aveia:hover {
  background: linear-gradient(to bottom, #cecdcd, #ffffff);
}

.produto-calendula:hover {
  background-image: linear-gradient(to bottom, #dfdd08, #faf0a2);
}

.produto-morango:hover {
  background-image: linear-gradient(to bottom, #de1729, #f4a1a2);
}

.produto-argila:hover {
  background-image: linear-gradient(to bottom, #383837, #8e8a8a);
}
